.container {
  display: flex;
  align-items: center;
  max-width: 46rem;
  border: 0.1rem solid #ebebeb;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  height: 4.8rem;
  outline: none;
  transition: box-shadow 200ms ease-in;
  width: 100%;
}

.container:hover {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1),
    0 0.4rem 1.2rem rgba(26, 26, 29, 0.08);
}

.input {
  border: none;
  color: var(--secondary);
  font-size: 1.7rem;
  font-weight: 700;
}
